DATABASE=mongodb://username:pass@ac-r3mct8m-shard-00-00.o3r6tac.mongodb.net:27017,ac-r3mct8m-shard-00-01.o3r6tac.mongodb.net:27017,ac-r3mct8m-shard-00-02.o3r6tac.mongodb.net:27017/tour-management?ssl=true&replicaSet=atlas-7hog99-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=abcdefghijklmnopqrstuvwxyz
EMAIL_PASSWORD=axxx xxxxx xxxxx xxxxx
EMAIL_USERNAME=abc@gmail.com
EMAIL_SECURE=false #day len online la true, day local la false
ADMIN_EMAIL=admin@example.com
BASE_URL=http://localhost:3000
API_SECRET_KEY=abc
CLOUDINARY_CLOUD_NAME=ab3c
CLOUDINARY_API_KEY=ab4v
ZALOPAY_KEY1=PcY4iZIKFCIdgZvA6ueMcMHHUbRLYjPL
ZALOPAY_KEY2=kLtgPl8HHhfvMuDHPwKfgfsY4Ydm9eIz
ZALOPAY_APPID=2553
ZALOPAY_ENDPOINT=https://sb-openapi.zalopay.vn/v2/create
NGROK=https://nonproportionally-unwild-albertine.ngrok-free.dev
VNPAY_TMNCODE=ABC
VNPAY_SECRETKEY=ABC
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
